/*散点图样式*/
.h5_component_point{
	color:#fff;
}
.h5_component_point .point{
	display: block;
	background-color: #ccc;
	position: absolute;
	border-radius: 50%;
	opacity: 0;
	transition:all 1s;
}
.h5_component_point .name{
	position: absolute;
	height: 30px;
	width: 100%;
	top:50%;
	margin-top: -15px;
	text-align: center;
	font-size: 22px;
}
.h5_component_point .per{
	font-size: .5em;
}

.h5_component_point_load .point{
	opacity:1;
	transform:scale(1);
}
.h5_component_point_leave .point{
	opacity:0;
	transform:scale(.1);
}

.h5_component_point_load .point_focus{
	box-shadow: 0,0,10px rgba(0,0,0,.5);
}
.h5_component_point_load .point_focus:after{
   content:' ';
   position: absolute;
   height: 100%;
   width: 100%;
   border-radius: 50%;
   left:50%;
   top:50%;
   margin-left: -50%;
   margin-top: -50%;
   background-color: inherit;
   z-index: -1;
	animation:breathe 2s infinite 1.5s;
	-webkit-animation:breathe 2s infinite 1.5s; /* Safari 和 Chrome */

}
@keyframes breathe{
    0% {
        -webkit-transform:scale(.5);
        -webkit-opacity:.9;
    }
    95%{
        -webkit-transform:scale(1.5);
        -webkit-opacity:0;
    }
    100%{
        -webkit-transform:scale(.9);
        -webkit-opacity:0;
    }
}
@-webkit-keyframes breathe{
    0% {
        -webkit-transform:scale(.5);
        -webkit-opacity:.9;
    }
    95%{
        -webkit-transform:scale(1.5);
        -webkit-opacity:0;
    }
    100%{
        -webkit-transform:scale(.9);
        -webkit-opacity:0;
    }
}