/*柱状图样式*/
.h5_component_bar{
	opacity: 0;
}
.h5_component_bar .line{
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	margin-bottom: 15px;
}
.h5_component_bar .name{
	float: left;
	width: 60px;
	text-align: center;
}
.h5_component_bar .rate{
	height: 15px;
	margin-left: 5px;
	float: left;
	position: relative;
}
.h5_component_bar .rate .bg{
	border-radius: 3px;
	height: 100%;
	width: 0;
	position: absolute;
	left: 0;
	top:0;
	background-color: #99c0ff;
}
.h5_component_bar .per{
	width: 20px;
	float: left;
	margin-left: 5px;
	opacity: 0;
}

.h5_component_bar_load .rate .bg{
	transition: all 1s .5s;
	width: 100%;
}
.h5_component_bar_leave .rate .bg{
	width: 0;
}
.h5_component_bar_load .per{
	transition: all 1s 1.5s;
	opacity: 1;
}
.h5_component_bar_leave .per{
	opacity: 0;
}
